body {
    background-color: #161a1c;
    margin: 0px;
}

header {
    padding: 0.5vmax 1vmax;
    background-color: rgb(40, 45, 50);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 45, 50);
}

nav a {
    margin-left: 1.2rem;
    text-decoration: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vmax;
    color: white;
}

nav a:hover {
    color: #d4d4d4;
}

.logo img {
    background-color: transparent;
    width: 5vmax;
    height: 5vmax;
}

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 2.5%;
}

.start-img,
.start-img img {
    width: 1000px;
    height: 40%;
    border-radius: 25px;
}

.start-img img {
    box-shadow: 20px 19px 23px rgba(0, 0, 0, 0.307);
}

.entrytext {
    font-size: 2vmax;
    color: #ffffff;
    text-align: center;
    font-weight: 200;
    font-family: "Archivo", sans-serif;
}

.start p {
    font-size: 1.5vmax;
    color: #ffffff;
    text-align: left;
    font-weight: 150;
    font-family: "Archivo", sans-serif;
}

.start-text {
    height: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

.dropdown {
    display: inline-block;
    position: relative;
    color: #ffffff;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 1vmax;
    top: 2vmax;
    background-color: #212529;
    border-radius: 5px;
}

.active {
    color: #d4d4d4;
}

.btn-dropdown-ws {
    border: none;
    background: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vmax;
    color: white;
    margin-left: 1.2rem;
}

.btn-dropdown-ws:hover {
    color: #d4d4d4;
}

.dropdown-content a {
    display: flex;
    margin: auto;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    font-size: 1vmax;
}

.help,
.ressources,
.creator {
    font-size: 4vmax;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
}

.section-ressources {
    margin-top: 15%;
    background: linear-gradient(#303b40, 5%, #161a1c);
    border-radius: 15% 15% 0  0;
}

h2, h3 {
    font-size: 5vmax;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.grid-select .h3card {
    font-size: 2vmax;
    padding-left: 25px;
    font-family: "Roboto", sans-serif;
}

.grid-select {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vmax 15vmax;
    gap: 15px;
    margin: auto;
    max-width: 80%;
}

.grid-select a {
    background-color: #222426;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    background-size: 10vmax 10vmax;
    background-position: 100% 6vmax;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.grid-select a:hover {
    background-color: #292d2e;
    color: #dfdfdf;
    background-position: 100% 4vmax;
}

.grid-creator .h3card {
    font-size: 2vmax;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.grid-creator {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vmax 15vmax 15vmax;
    gap: 15px;
    margin: auto;
    max-width: 80%;
}

.grid-creator a {
    background-color: #222426;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    background-size: 8vmax 8vmax;
    background-position: 50% 6.5vmax;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.grid-creator a:hover {
    background-color: #292d2e;
    color: #dfdfdf;
    background-position: 50% 5.5vmax;
    border-radius: 50px;
}

.grid-creator .other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-help {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vmax 15vmax 15vmax;
    gap: 15px;
    margin: auto;
    max-width: 80%;
}

.grid-help a {
    background-color: #222426;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    background-size: 8vmax 8vmax;
    background-position: 50% 6.5vmax;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.grid-help a:hover {
    background-color: #292d2e;
    color: #dfdfdf;
    background-position: 50% 5.5vmax;
    border-radius: 50px;
}

.grid-help .h3card {
    font-size: 2vmax;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.tutoriels {
    background-image: url("assets/img/gmodimage/ImgTuto/help.png");
}

.issue {
    background-image: url("https://www.pngall.com/wp-content/uploads/5/Learning-PNG-Free-Image.png");
}

.azok30 {
    background-image: url("assets/img/gmodimage/ImgAccueil/azok30.jpg");
}

.rytrak {
    background-image: url("assets/img/gmodimage/ImgAccueil/rytrak.jpg");
}

.w4nou {
    background-image: url("assets/img/gmodimage/ImgAccueil/w4nou.jpg");
}

.itzdannio25 {
    background-image: url("assets/img/gmodimage/ImgAccueil/itzdannio25.jpg");
}

.alexcars {
    background-image: url("assets/img/gmodimage/ImgAccueil/alexcars.jpg");
}

.sgm {
    background-image: url("assets/img/gmodimage/ImgAccueil/sgm.jpg");
}

.tdmcars {
    background-image: url("assets/img/gmodimage/ImgAccueil/tdmcars.jpg");
}

.lwcars {
    background-image: url("assets/img/gmodimage/ImgAccueil/lwcars.jpg");
}

.template {
    background-image: url("assets/img/gmodimage/ImgAccueil/template.webp");
}

.zebra {
    background-image: url("assets/img/gmodimage/ImgAccueil/zebra.webp");
}

.decals {
    background-image: url("assets/img/gmodimage/ImgAccueil/decals.webp");
}

.aide {
    background-image: url("https://www.pngall.com/wp-content/uploads/5/Learning-PNG-Free-Image.png");
}

.vmt_vtf {
    background-image: url("https://dima-369.github.io/VMT-Editor/documentation/images/logo.png");
}

section {
    padding: 2vmax 0px;
    background-color: #161a1c;
}

.contact h2 {
    font-size: 3vmax;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
}

input,
textarea {
    padding: 0.5vmax;
    border-radius: 3px;
    border: none;
    width: 25vmax;
    text-align: center;
}

textarea[name="message"] {
    width: 40vmax;
    max-width: 40vmax;
    font-size: 1.5vmax;
    font-family: "Roboto", sans-serif;
}

button[type="submit"] {
    margin: auto;
    margin-top: 30px;
}

.form-text,
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button p {
    margin: auto;
    font-size: 1.5vmax;
    font-family: "Roboto", sans-serif;
}

footer {
    padding: 0.5vmax 2.5vmax;
    padding-top: 20px;
    background-color: rgb(41, 46, 51);
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vmax 10vmax;
    font-family: "Roboto", sans-serif;
}

footer .foot-credit {
    margin-top: 50px;
    font-size: 1vmax;
    grid-column: 1/4;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer .foot-present {
    width: 30vmax;
}

footer .foot-present .title {
    font-size: 1.5vmax;
    font-weight: 500;
    color: #ffffff;
}

footer .foot-present p {
    font-size: 1vmax;
    color: #a7a7a7;
}

footer .foot-a-propos {
    width: 30vmax;
}

footer .foot-a-propos p {
    font-size: 1.5vmax;
    font-weight: 500;
}

footer .foot-a-propos a {
    display: flex;
    flex-direction: column;
    font-size: 1vmax;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer .foot-a-propos a:hover {
    color: #dfdfdf;
}

footer .foot-partenaire p {
    font-size: 1.5vmax;
    font-weight: 500;
}

footer .foot-partenaire a {
    font-size: 1vmax;
}

footer .foot-partenaire img:hover {
    opacity: 0.7;
}

footer .foot-partenaire img {
    width: 5vmax;
    height: 5vmax;
}

.main-download {
    color: white;
}

.main-download h1 {
    font-size: 3vmax;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Archivo", sans-serif;
}

.main-download .title-download p {
    font-size: 1.5vmax;
    text-align: center;
    margin-bottom: 25px;
    font-family: "Archivo", sans-serif;
}

.grid-download {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5vmax;
    margin: auto;
    margin-bottom: 25px;
    padding-left: 10vmax;
    padding-right: 10vmax;
    font-family: "Roboto", sans-serif;
}

.grid-download p {
    margin-bottom: 1vmax;
    text-align: center;
    font-family: "Archivo", sans-serif;
}

.grid-download-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 2vmax;
    margin-bottom: 1vmax;
}

.grid-download-item-a {
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    background-color: rgb(40, 45, 50);
    width: 90%;
    border-radius: 0.5vmax;
    box-shadow: 0.3vmax 0.3vmax 0.2vmax rgb(36, 41, 45);
}

.grid-download-item-a:hover {
    background-color: rgb(50, 55, 60);
    transition: 0.3s;
    box-shadow: 0.1vmax 0.1vmax 0.2vmax rgb(36, 41, 45);
    color: white;
}

.grid-download-item a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.grid-download-item a:hover {
    transition: 0.5s;
    color: gray;
}

.grid-download-item-img img {
    width: 20vmax;
    border-radius: 2%;
    margin-bottom: 1vmax;
}

.grid-download-item-img {
    width: 20vmax;
    display: flex;
    justify-content: center;
}

.error,
.history {
    color: white;
    font-size: 2vmax;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.phistory {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5vmax;
    margin-left: 10vmax;
    margin-right: 10vmax;
}

.h1history {
    font-weight: 400;
}

.btn-accueil-div {
    display: flex;
    justify-content: center;
    font-size: 1.5vmax;
    font-family: "Archivo", sans-serif;
}

.btn-accueil {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(33, 47, 127);
    width: 25vmax;
    border-radius: 0.5vmax;
    padding: 1%;
    outline: none;
}

.btn-accueil:hover {
    background-color: rgb(26, 35, 84);
    transition: 0.3s;
}

.btn_next_previous {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 1.5vmax;
    font-family: "Archivo", sans-serif;
}

.previous_btn {
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    width: 20%;
    border-radius: 0.5vmax;
    padding: 2px;
}

.next_btn {
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    width: 20%;
    border-radius: 0.5vmax;
    padding: 2px;
}

.previous_btn:hover {
    background-color: rgba(130, 130, 130, 0.5);
    border: 2px solid rgba(255, 0, 0, 0.7);
    transition: 0.5s;
    color: white;
}

.next_btn:hover {
    background-color: rgba(130, 130, 130, 0.5);
    border: 2px solid rgba(35, 255, 0, 0.7);
    transition: 0.5s;
    color: white;
}

.tuto-category-content {
    text-align: center;
    color: white;
    font-size: medium;
    font-family: "Roboto", sans-serif;
}

.tuto-category-content h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.tuto-category {
    background-color: #1f2325;
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}

.tuto-video iframe {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #161a1c;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.tuto-video {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 200px) {
    html {
        overflow: auto;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    nav * {
        transition: 0.5s;
    }

    nav a {
        font-size: 2vmax;
    }

    nav img {
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }

    nav div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-dropdown-ws {
        margin: 0px;
        padding: 0px;
        font-size: 2vmax;
    }

    nav div a {
        margin: auto;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        left: 1vmax;
        top: 4vmax;
        background-color: #212529;
        border-radius: 5px;
    }

    .ressources {
        font-size: 3vmax;
        text-align: center;
    }

    .grid-select {
        grid-template-columns: 1fr;
        grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax;
    }

    footer {
        overflow: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 40vmax 20vmax 20vmax 20vmax;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-items: center;
        gap: 20px;
    }

    footer .foot-present p {
        font-size: 2vmax;
        color: #a7a7a7;
    }

    footer .foot-credit {
        font-size: 2vmax;
    }

    footer .foot-credit {
        grid-column: 1/1;
    }

    footer .foot-a-propos a {
        font-size: 2vmax;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer .foot-a-propos p {
        font-size: 2vmax;
    }

    footer .foot-present .title {
        font-size: 2.5vmax;
    }

    footer .foot-partenaire p {
        font-size: 2.5vmax;
    }

    .sectionform {
        display: none;
    }

    .grid-download {
        grid-template-columns: 1fr;
        transition: 0.5s;
        gap: 15px;
        margin-bottom: 20px;
        padding-left: 5vmax;
        padding-right: 5vmax;
    }
}

@media screen and (min-width: 201px) and (max-width: 700px) {
    .grid-download {
        grid-template-columns: 1fr;
        transition: 0.5s;
        gap: 15px;
        margin-bottom: 20px;
        padding-left: 5vmax;
        padding-right: 5vmax;
    }

    .grid-download-item-a {
        width: 60%;
    }

    .grid-download-item-img {
        width: 15vmax;
    }

    .grid-download-item-img img {
        width: 15vmax;
    }

    .grid-select {
        grid-template-columns: 1fr;
        grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax;
    }

    .grid-creator {
        grid-template-columns: 1fr;
        grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax;
    }

    .grid-help {
        grid-template-columns: 1fr;
        grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax;
    }

    .grid-creator .h3card {
        padding-top: 0px;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 40vmax 20vmax 20vmax 20vmax;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-items: center;
        gap: 20px;
    }

    footer .foot-present p {
        font-size: 2vmax;
        color: #a7a7a7;
    }

    footer .foot-present {
        width: 20vmax;
    }

    footer .foot-credit {
        font-size: 2vmax;
    }

    footer .foot-a-propos a {
        font-size: 2vmax;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer .foot-a-propos p {
        font-size: 2vmax;
    }

    footer .foot-present .title {
        font-size: 2vmax;
    }

    footer .foot-partenaire p {
        font-size: 2.5vmax;
    }

    button p {
        font-size: 2.5vmax;
    }

    button[type="submit"] {
        display: flex;
        justify-content: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    nav * {
        transition: 0.5s;
    }

    nav a {
        font-size: 2vmax;
    }

    nav img {
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }

    nav div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-dropdown-ws {
        margin: 0px;
        padding: 0px;
        font-size: 2vmax;
    }

    nav div a {
        margin: auto;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .dropdown-content a {
        display: flex;
        margin: auto;
        color: #ffffff;
        padding: 5px;
        text-decoration: none;
        font-size: 2vmax;
    }

    footer .foot-credit {
        grid-column: 1/1;
    }

    .entrytext {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 200;
        font-family: "Archivo", sans-serif;
    }

    input,
    textarea {
        padding: 0.5vmax;
        border-radius: 3px;
        border: none;
    }

    textarea[name="message"] {
        width: 20vmax;
        max-width: 40vmax;
        font-size: 1.5vmax;
        font-family: "Roboto", sans-serif;
    }

    .start {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .start-img,
    .start-img img {
        margin: auto;
        margin-top: 10px;
        width: 75%;
        height: 75%;
        border-radius: 25px;
    }

    .start-img img {
        width: 100%;
        height: 100%;
        box-shadow: 20px 19px 23px rgba(0, 0, 0, 0.307);
    }

    .entrytext {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 200;
        font-family: "Archivo", sans-serif;
    }

    .start p {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 150;
        font-family: "Archivo", sans-serif;
    }

    .start-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .entrytext {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 200;
        font-family: "Archivo", sans-serif;
    }

    .grid-download {
        grid-template-columns: 1fr 1fr;
        transition: 0.5s;
    }

    .grid-select {
        grid-template-columns: 1fr;
        grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax;
    }

    .grid-creator {
        grid-template-columns: 1fr;
        grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax 15vmax;
    }

    .grid-help {
        grid-template-columns: 1fr;
        grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax;
    }

    .grid-creator .h3card {
        padding-top: 0px;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 40vmax 20vmax 20vmax 20vmax;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-items: center;
        gap: 20px;
    }

    footer .foot-present p {
        font-size: 2vmax;
        color: #a7a7a7;
    }

    footer .foot-credit {
        font-size: 2vmax;
    }

    footer .foot-a-propos a {
        font-size: 2vmax;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer .foot-a-propos p {
        font-size: 2vmax;
    }

    footer .foot-present .title {
        font-size: 2.5vmax;
    }

    footer .foot-partenaire p {
        font-size: 2.5vmax;
    }

    button p {
        font-size: 2.5vmax;
    }

    button[type="submit"] {
        display: flex;
        justify-content: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    nav * {
        transition: 0.5s;
    }

    nav a {
        font-size: 2vmax;
    }

    nav img {
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }

    nav div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-dropdown-ws {
        margin: 0px;
        padding: 0px;
        font-size: 2vmax;
    }

    nav div a {
        margin: auto;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .dropdown-content a {
        display: flex;
        margin: auto;
        color: #ffffff;
        padding: 5px;
        text-decoration: none;
        font-size: 1.5vmax;
    }

    footer .foot-credit {
        grid-column: 1/1;
    }

    .start {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 10px;
    }

    .start-img,
    .start-img img {
        margin: auto;
        margin-top: 10px;
        width: 75%;
        height: 75%;
        border-radius: 25px;
    }

    .start-img img {
        width: 100%;
        height: 100%;
        box-shadow: 20px 19px 23px rgba(0, 0, 0, 0.307);
    }

    .entrytext {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 200;
        font-family: "Archivo", sans-serif;
    }

    .start p {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 150;
        font-family: "Archivo", sans-serif;
    }

    .start-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1600px) {
    .start {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .start-img,
    .start-img img {
        margin: auto;
        margin-top: 10px;
        max-height: 500px;
        margin-left: 15px;
        margin-right: 15px;
        width: 800px;
        border-radius: 25px;
        border-radius: 25px;
    }

    .start-img img {
        box-shadow: 20px 19px 23px rgba(0, 0, 0, 0.307);
    }

    .entrytext {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 200;
        font-family: "Archivo", sans-serif;
        margin-left: 0px;
    }

    .start p {
        font-size: 2vmax;
        color: #ffffff;
        text-align: center;
        font-weight: 150;
        font-family: "Archivo", sans-serif;
    }

    .start-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0px;
    }
}
